* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #30ec01;
      padding: 10px 20px;
      position: relative;
    }

    .menu-toggle {
      display: none;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      width: 30px;
      height: 25px;
      justify-content: space-between;
    }

    .hamburger span {
      height: 4px;
      background: #026415;
      border-radius: 2px;
    }

    ul.menu {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    ul.menu li a {
      color: #000;
      text-decoration: none;
    }

    h1 {
      align-items: center;
      text-align: center;
      color: #1e5c0e00;
    }

    /* Responsivo */
    @media (max-width: 768px) {
      .hamburger {
        display: flex;
      }

      ul.menu {
        display: none;
        flex-direction: column;
        background: #ebcaf1;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
      }

      .menu-toggle:checked + .hamburger + ul.menu {
        display: flex;
      }
    }
/*fim cabeçalho*/

