* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/*inicio do cabeçalho*/
body{
    font-family: Arial, sans-serif;
}

nav {
    background-color: lightpink;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background: rgb(41, 50, 56);
    border-radius: 2px;
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color: rgb(33, 31, 148);
    text-decoration: none;
}

h1 {
    align-items: center;
    text-align: center;
    color: rgb(171, 177, 184);
}

/*Resposivo*/
@media (max-width:768px) {
    .hamburguer {
        display:flex;
     }

     ul.menu {
        display: none;
        flex-direction: column;
        background: #040661;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
     }

     .menu-toggle:checked
     +.hamburguer +ul.menu {
        display:flex;
     }

      }
/*fim cabeçalho*/

